.footer{
    width: 100%;
    height: 417px;
    background-color: @background-footer;
    .line-bottom-footer{
        hr{
            border-top: 2px double #393939;
        }
    }
    .name{
        font-family: 'Montserrat-Regular';
        font-size: 16px;
        font-weight: bold;
        color: @name-title-footer;
        padding-bottom: 24px;
        letter-spacing: 1px;
    }
    span{
        font-family: 'Open_Sans';
        font-size: 14px;
        font-weight: bold;
        color: @text-footer-color;
    }
    i{
        color: @text-footer-color;
    }
    &-right,&-mid,&-left{
        .col(33%);
        padding-top: 45px;
        padding-bottom: 30px;
        hr{
            margin-bottom: 23px;
            border: 0;
            border-top: 2px double #393939;
          
        }
    }
    &-left{
        .body{
            width: 73%;
        }
        span{
            line-height: 22px;
            letter-spacing: 0.25px;
        }
        .icon-info{
            font-size: 16px;
        i{
            padding: 0 14px;
            padding-top: 50px;
            line-height: 0.7;
            &:first-child{
                padding-left: 0px;
            }
        }
    }
    }
    &-mid{
        display: table-cell;
        hr{
            margin-bottom: 23.7px;
        }
        .wrap-navigation{
            display: flex;
            margin-top: 25px;
        .navigation-left,.navigation-mid{
            color: @text-footer-color;
            .col(50%);
            padding: 0px;
            margin: 0px;
            div{
                padding: 5.5px 0;
                font-family: 'Open_Sans';
                font-size: 14px;
                font-weight: bold;
                margin-left: 2px;
                &:first-child{
                    padding-top: 0px;
                }
                &:last-child{
                    padding-bottom: 0px;
                }
                a{
                    text-decoration: none;
                    color: @text-footer-color;
                    &:hover{
                        color: white;
                    }
                }
            }
        }
        .navigation-mid{
            div{
                margin-left: 20px;
            }
        }
    }
    }
    &-right{
        hr{
            margin-bottom: 27px;
        }
       &-all{
        width: 73%;
        margin-left: 29%;
           i{
               padding-right: 5px;
               font-size: 14px;
               margin-left: 4px;
               margin-top:3px;
           }
           span{
               padding-left:6.5px ;
               a{
                text-decoration: none;
                color: @text-footer-color;
                &:hover{
                    color: white;
                }
               }
           }
           .phone,.mail{
               margin-top: 15px;
           }
           .location{
               display: flex;
               .text-locotion{
               div{
                font-family: 'Open_Sans';
                font-size: 14px;
                font-weight: bold;
                   padding-left: 8px;
                   &:last-child{
                  margin-top: 14px;
                   }
                   a{
                    text-decoration: none;
                    color: @text-footer-color;
                    &:hover{
                        color: white;
                    }
                   }
                }
               }
               .mail{
                display: flex;
                align-items: center;
                span{padding-left: 11px;}
            }
           }
       }
    }
    .copy-right{
        color: @text-footer-color;
        font-family: 'Open_Sans';
        font-size: 14px;
        font-weight: bold;
        line-height: 65px;
        letter-spacing: 0.2px;
        i{
            color: red;
        }
        span{
            color: white;
        }
    }
    .icon-bank{
        float: right;
        line-height: 65px;
        font-size: 20px;
        i{
            padding: 0 1.2px;
        }
    }
}